<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/22083da215.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../resources/css/estiloprivado.css" />
    <title>Valoraciones</title>
</head>

<body>
    <div class="row">
        <div class="casa col-2">
            <!--Navbar principal-->
            <nav></nav>
        </div>
        <div class="col-10">
            <!--Menu Header-->
            <div class="row">
                <header></header>
            </div>
            <!--Main principal-->
            <div class="row">
                <main class="container">
                    <section>
                        <div class="row">
                            <div class="col-12ops">
                                <div class="row">
                                    <h1 class="text-center">Valoraciones</h1>
                                    <br>
                                    <div class="table-responsive">

                                        <table class="table align-middle">
                                            <thead>
                                                <tr>


                                                    <td>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>Buscador: Buscar por</option>
                                                            <option value="1">Cliente</option>
                                                            <option value="2">Fecha de la valoracion</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn"><img height="20px"
                                                                width="20px"
                                                                src="../../resources/img/imgtablas/check.png"
                                                                alt="check">
                                                        </button>

                                                    </td>
                                                    <td>
                                                        <div class="rounded float-end">
                                                            <button type="button" class="btn"><img height="25px"
                                                                    width="25px"
                                                                    src="../../resources/img/imgtablas/agregar.png"
                                                                    alt="agregar">
                                                            </button>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                    <br>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Clientes</th>
                                                <th scope="col">Fecha </th>
                                                <th scope="col">Valoracion</th>
                                                <th scope="col">Comentario</th>
                                                <th scope="col">Acciones</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Anderson Isaac Aguilar Ramos</td>
                                                <td>03/02/2023</td>
                                                <td>2.5</td>
                                                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</td>
                                                <th scope="col"><button type="button" class="btn btn-success"> <img
                                                    height="20px" width="20px"
                                                    src="../../resources/img/imgtablas/ojo.png"
                                                    alt="ver"></button> <button type="button"
                                                class="btn btn-danger"><img height="20px" width="20px"
                                                    src="../../resources/img/imgtablas/delete.png"
                                                    alt="borrar"> </button>
                                                </th>
                                            </tr>
                                            <br>
                                            <tr>
                                                <td>Lorien Odett de Leon Tejada</td>
                                                <td>14/01/2023</td>
                                                <td>5</td>
                                                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</td>
                                                <th scope="col"><button type="button" class="btn btn-success"> <img
                                                    height="20px" width="20px"
                                                    src="../../resources/img/imgtablas/ojo.png"
                                                    alt="ver"></button> <button type="button"
                                                class="btn btn-danger"><img height="20px" width="20px"
                                                    src="../../resources/img/imgtablas/delete.png"
                                                    alt="borrar"> </button>
                                                </th>
                                            </tr>
                                            <br>
                                            <tr>
                                                <td>Diego Alejandro Rodríguez Liborio</td>
                                                <td>29/01/2023</td>
                                                <td>4.5</td>
                                                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</td>
                                                <th scope="col"><button type="button" class="btn btn-success"> <img
                                                    height="20px" width="20px"
                                                    src="../../resources/img/imgtablas/ojo.png"
                                                    alt="ver"></button> <button type="button"
                                                class="btn btn-danger"><img height="20px" width="20px"
                                                    src="../../resources/img/imgtablas/delete.png"
                                                    alt="borrar"> </button>
                                                </th>
                                            </tr>
                                            <br>
                                            <tr>
                                                <td>Josué Javier Góchez Herrera</td>
                                                <td>03/02/2023</td>
                                                <td>1</td>
                                                <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim</td>
                                                <th scope="col"> <button type="button" class="btn btn-success"> <img
                                                    height="20px" width="20px"
                                                    src="../../resources/img/imgtablas/ojo.png"
                                                    alt="ver"></button> <button type="button"
                                                class="btn btn-danger"><img height="20px" width="20px"
                                                    src="../../resources/img/imgtablas/delete.png"
                                                    alt="borrar"> </button>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Footer-->
        <div class="col-12 pt-5 pb-4"">
            <footer></footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="../../resources/js/sweetalert.min.js"></script>
        <script src="../../controllers/privado/account.js"></script>
        <script src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/privado/plantilla.js"></script>
</body>

</html>