<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/112f349fd8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../resources/css/estilopublico.css">
    <title>Mi cuenta</title>
</head>

<body>
    <!--Principal-->
    <div class="row principal">
        <!--Row 1-->
        <div class="row menu1">
            <div class="col-12 menu2">
                <!---Empieza el navbar-->
                <nav>
                    <!---<div class="wrapper">
                        <div class="logo"><a href="#">Scarlatto</a></div>
                        <ul class="nav-links">
                            <li>
                                <a href="#">Productos</a>
                                <div class="mega-box">
                                    <div class="content">
                                        <div class="row">
                                            <img src="../../resources/img/fotosextra/brillianty-dragocennosti.jpg"
                                                alt="">
                                        </div>
                                        <div class="row">
                                            <header>Pulseras</header>
                                            <ul class="mega-links">
                                                <li><a href="#">Todas las opciones</a></li>
                                                <li><a href="#">Pulseras rigidas</a></li>
                                                <li><a href="#">Pulseras de cuero</a></li>
                                                <li><a href="#">Pulseras de reflexion</a></li>
                                                <li><a href="#">Pulseras de escalonadas</a></li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <header>Anillos</header>
                                            <ul class="mega-links">
                                                <li><a href="#">Todas las opciones</a></li>
                                                <li><a href="#">Anillos combinados</a></li>
                                                <li><a href="#">Anillos llamativos</a></li>
                                                <li><a href="#">Anillos de compromiso</a></li>
                                                <li><a href="#">Conjunto de anillos</a></li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <header>Collares</header>
                                            <ul class="mega-links">
                                                <li><a href="#">Todas las opciones</a></li>
                                                <li><a href="#">Collar de varias cuerdas</a></li>
                                                <li><a href="#">Gargantillas</a></li>
                                                <li><a href="#">Colgantes</a></li>
                                                <li><a href="#">Cadenas</a></li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <header>Pendientes</header>
                                            <ul class="mega-links">
                                                <li><a href="#">Todas las opciones</a></li>
                                                <li><a href="#">Pendientes de aro</a></li>
                                                <li><a href="#">Pedientes de boton</a></li>
                                                <li><a href="#">Pendientes largos</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">Servicios</a>
                                <ul class="drop-menu">
                                    <li><a href="#">Sobre nosotros</a></li>
                                    <li><a href="#">Servicio al cliente</a></li>
                                    <li><a href="#">Noticias</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Iniciar sesión</a></li>
                        </ul>
                    </div>-->
                </nav>
            </div>
        </div>
        <!--Row 2-->
        <div class="row">
            <!---Empieza el contenido principal-->
            <div class="col-12">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <main class="container">
                    <section>
                        <div class="container">
                            <div class="row">
                                <h1 class="text-center">Mi cuenta</h1>
                                <div class="table-responsive">
                                    <table class="table align-middle">
                                        <tr>
                                            <td>
                                                <h2> <img height="75px" width="75px"
                                                        src="../../resources/img/fotosextra/usuario.png" alt="perfil">
                                                    Mi
                                                    perfil</h2>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-light"><img height="25px"
                                                        width="25px" src="../../resources/img/imgtablas/editar.png"
                                                        alt="editar">
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="btn waves-effect tooltipped">
                                        <i><img height="75px" width="75px"
                                                src="../../resources/img/fotosextra/usuario.png" alt="usuario">
                                        </i><br>
                                        <input id="archivo" type="file" name="archivo" accept=".jpg, .png">
                                    </div>
                                    <br><br><br><label>Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                                </div>
                                <div class="col-6 Apellido">
                                    <label>Apellido</label>
                                    <input type="text" class="form-control" placeholder="Apellido"
                                        aria-label="Apellido"><br>
                                    <label>Fecha de nacimiento</label>
                                    <input type="text" class="form-control" placeholder="Fecha de nacimiento"
                                        aria-label="Fecha"><br>
                                    <label>Teléfono</label>
                                    <input type="text" class="form-control" placeholder="Télefono"
                                        aria-label="Télefono"><br>
                                    <label>Correo</label>
                                    <input type="text" class="form-control" placeholder="Correo" aria-label="Correo">
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <!--Row 3-->
        <div class="row menu3">
            <!---Empieza el contenido footer-->
            <div class="col-12 pt-5 pb-4">
                <footer></footer>
            </div >
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../controllers/publico/plantilla2.js"></script>
</body>
</body>

</html>