<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <!-- Importacion de archivos css-->
    <link rel="stylesheet" href="../../resources/css/materialize.min.css">

    <title>Document</title>
</head>
<body>
  
    <div class="container">
        <h1>HOLA MUNDO</h1>
    </div>
   



    <!-- Importacion de archivos javaScrip -->
    <script src="../../resources/js/materialize.min.js"></script>
         
</body>

</html>