<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/22083da215.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../resources/css/estilopublico.css">
    <title>Mi cuenta</title>
</head>

<body>
    <!--Principal-->
    <div class="row">
        <!--Row 1-->
        <div class="row">
            <div class="col-12 ">
                <!---Empieza el navbar-->
                <nav></nav>
            </div>
        </div>
        <!--Row 2-->
        <div class="row">
            <!---Empieza el contenido principal-->
            <div class="col-12 ">
                <main class="contenedor">
                        <main>
                            <div class="topsection">
                                <div class="row">
                                    <div class="col">
                                        <img src="../../resources/img/fotosextra/brillando_estilo.png" class="d-block w-100"
                                            alt="brillando_estilo" />
                                    </div>
                                </div>
                            </div>
                            <div class="productos">
                                <div class="row">
                                    <div class="col col-3">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/fotosextra/anillo_dash1.png" alt="anillo_dash1" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Anillo de ro blanco zafiro azul</p>
                                                <p class="marca">BOBBI BROWN</p>
                                                <p class="text-decoration-line-through">$249.00</p>
                                                <p class="price">$100.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <img src="img/star.png" alt="" id="stars">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/fotosextra/anillo_dash2.png" alt="" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Brazalate tru damage</p>
                                                <p class="marca">GUCCI</p>
                                                <p class="text-decoration-line-through">$150.50</p>
                                                <p class="price">$100.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <img src="img/star.png" alt="" id="stars">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/fotosextra/anillo_dash3.png" alt="" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Pendientes Amastia Verdde</p>
                                                <p class="marca">NARS</p>
                                                <p class="text-decoration-line-through">$54.25</p>
                                                <p class="price">$100.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                </main>
            </div>
        </div>
        <!--Row 3-->
        <div class="row menu3">
            <!---Empieza el contenido footer-->
            <div class="col-12 pt-5 pb-4">
                <footer></footer>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../controllers/publico/plantilla2.js"></script>
</body>
</body>

</html>