<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/22083da215.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../resources/css/estilopublico.css">
    <title>Noticias</title>
</head>

<body>
    <!--Principal-->
    <div class="row">
        <!--Row 1-->
        <div class="row">
            <div class="col-12 ">
                <!---Empieza el navbar-->
               
                <nav></nav>
            </div>
        </div>
        <!--Row 2-->
        <div class="row">
            <!---Empieza el contenido principal-->
            <div class="col-12 ">
                <main>
                    <div class="contenedor">
                        <main>
                            <div class="topsection">
                                <div class="row">
                                    <div class="col">
                                        <p class="texttop">
                                            Inicio <i class="fa-sharp fa-solid fa-angle-right"></i> Noticias
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="carouselExample" class="carousel slide">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="../../resources/img/imgseccionnoticias/fotopublicidad.png" class="d-block w-100" alt="..." />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="../../resources/img/imgseccionnoticias/fotopublicidad.png" class="d-block w-100" alt="..." />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="../../resources/img/imgseccionnoticias/fotopublicidad.png" class="d-block w-100" alt="..." />
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExample" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExample" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="productos">
                                <p class="title">Productos Destacados</p>
                                <div class="row">
                                    <div class="col col-3">
                                        <img src="../../resources/img/imgseccionnoticias/star.png" alt="" id="stars">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/imgseccionnoticias/pendientes1.png" alt="" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Pendientes de utoplan</p>
                                                <p class="marca">BOBBI BROWN</p>
                                                <p class="price">$249.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <img src="../../resources/img/imgseccionnoticias/star.png" alt="" id="stars">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/imgseccionnoticias/pendientes2.png" alt="" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Pendientes de amastasia verde</p>
                                                <p class="marca">GUCCI</p>
                                                <p class="price">$150.50</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <img src="../../resources/img/imgseccionnoticias/star.png" alt="" id="stars">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/imgseccionnoticias/pendientes3.png" alt="" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Anillo zafiro verde</p>
                                                <p class="marca">NARS</p>
                                                <p class="price">$100.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="title" id="titlep">Promociones</p>
                                <div class="row">
                                    <div class="col col-3">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/imgseccionnoticias/promocion1.png" alt="" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Anillo de ro blanco zafiro azul</p>
                                                <p class="marca">BOBBI BROWN</p>
                                                <p class="price">$100.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/imgseccionnoticias/promocion2.png" alt="" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Brazalete tru damage</p>
                                                <p class="marca">GUCCI</p>
                                                <p class="price">$100.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <div class="datapd">
                                            <div class="pimagen">
                                                <img src="../../resources/img/imgseccionnoticias/pendientes3.png" alt="" />
                                            </div>
                                            <div class="infop">
                                                <p class="name">Anillo zafiro verde</p>
                                                <p class="marca">NARS</p>
                                                <p class="price">$100.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </main>
            </div>
            </main>
        </div>
    </div>
    <!--Row 3-->
    <div class="row menu3">
        <!---Empieza el contenido footer-->
        <div class="col-12 pt-5 pb-4">
            <footer></footer>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../controllers/publico/plantilla2.js"></script>
</body>
</body>

</html>