<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/22083da215.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../resources/css/estilopublico.css">
    <title>Mi cuenta</title>
</head>

<body>
    <!--Principal-->
    <div class="row">
        <!--Row 1-->
        <div class="row">
            <div class="col-12 ">
                <!---Empieza el navbar-->
                
                <nav></nav>
            </div>
        </div>
        <!--Row 2-->
        <div class="row">
            <!---Empieza el contenido principal-->
            <div class="col-12 ">
                <main>
                    <section>
                        <div class="container">
                            <div class="row">
                                <br>
                                <h1>Términos y condiciones Scarlatto</h1>
                                <div>
                                    <br>
                                    <h5> 1. Acerca de estás condiciones de venta</h5>
                                    <br>
                                    <p>
                                        1.1 Estas Condiciones de Venta son aplicables a todos los pedidos y compras realizados a través
                                        de la página web de Scarlatto y/o aplicaciones móviles. SCARLATTO podrá, en cualquier momento,
                                        modificar las presentes Condiciones de Venta, mediante la publicación de dichas modificaciones
                                        en la página web y/o las aplicaciones móviles con el fin de que puedan ser conocidas por el
                                        usuario.
                                        Salvo que de conformidad con lo que establece la normativa, sea necesario la aceptación de la
                                        modificación por parte del consumidor, cualquier cambio en las Condiciones de Venta será
                                        aplicable en la fecha de publicación de las Condiciones de Venta revisadas o con posterioridad a
                                        dicha fecha. Recomendamos consultar esta página de forma periódica para informarse de todos los
                                        cambios, ya que son vinculantes para usted.
                                        Como usuario de la página web de Scarlatto y/o aplicaciones móviles reconoce que tiene capacidad
                                        legal para obligarse y contratar nuestros productos y servicios. La página web de Scarlatto y/o
                                        aplicaciones móviles está dirigido a consumidores y destinatarios finales exclusivamente,
                                        quedando prohibida cualquier actividad profesional de reventa o distribución de los productos.
                                        El uso y/o la adquisición de cualquiera de los productos y servicios de la página web de
                                        Scarlatto y/o aplicaciones móviles, suponen la aceptación como cliente de las Condiciones
                                        Generales de Venta, de las Condiciones de Uso, así como en su caso, a las Condiciones
                                        Particulares que, en su caso rijan la adquisición de productos.
                                        LEA Y ACEPTE ESTAS CONDICIONES DE VENTA ANTES DE REALIZAR UN PEDIDO DE PRODUCTOS.
                                        SCARLATTO informa que los trámites para efectuar la adquisición de los productos son aquellos
                                        que se describen en las presentes Condiciones Generales de Venta, así como aquellos otros
                                        específicos que se indiquen en pantalla durante la navegación, de manera que el cliente declara
                                        conocer y aceptar dichos trámites como necesarios para acceder a los productos y servicios
                                        ofrecidos en la página web de Scarlatto y/o aplicaciones móviles.
                                    </p>
                                </div>
                
                                <div>
                                    <br>
                                    <h5> 2. Métodos de pago</h5>
                                    <br>
                                    <p>
                                        2.2 Pago; El pago se hará por uno de los métodos seleccionados durante el proceso de pago (Visa,
                                        Visa Electron, MasterCard y PayPal).
                
                                        Tarjeta de crédito o Tarjeta de pago
                                        Puede introducir sus datos de pago en el momento de realizar su pedido utilizando una tarjeta de
                                        crédito o de débito válida (Visa, Visa Electron y MasterCard). SCARLATTO se reserva el derecho
                                        de comprobar la validez de la tarjeta, su estado de crédito en relación con el valor del pedido
                                        y si la dirección del comprador es correcta. Es posible que rechacemos pedidos en función del
                                        resultado de estas comprobaciones. Tenga en cuenta que los gastos bancarios aplicables correrán
                                        a su cargo.
                                        PayPal
                                        Al pagar con PayPal, nos reservamos el derecho de comprobar la validez de la cuenta PayPal, que
                                        haya fondos suficientes para cubrir la suma de la compra y que los detalles de la dirección de
                                        facturación del comprador son correctos. En el sitio web de PayPal podrá completar el pago del
                                        precio de los productos y los gastos de envío, utilizando su cuenta PayPal según los términos de
                                        uso de PayPal aceptados por su parte en ese momento o previamente. Nos reservamos el derecho de
                                        rechazar cualquier compra.
                                        Vale/Descuento Promocional
                                        Puede elegir entre pagar con un vale o un código promocional, introduciendo el código en la
                                        sección "código promocional" durante el proceso de compra. Descontaremos automáticamente el
                                        importe correspondiente al vale o código promocional al importe total de su compra. Si los
                                        fondos del vale o código promocional no son suficientes para pagar el importe total de su
                                        compra, podrá elegir cualquiera de los métodos de pago anteriores para completar el proceso.
                                        Para la mayoría de los métodos de pago, el pago de su pedido, incluidos todos los impuestos
                                        aplicables, los gastos de envío y otros cargos, se cargará en la tarjeta o el servicio de pago
                                        aplicables después de que SCARLATTO le haya remitido la Confirmación de envío.
                                        En caso de pago con tarjeta de crédito o débito, los datos de la tarjeta que se envíen al
                                        realizar el pedido están protegidos y se mandan directamente a la entidad financiera que
                                        gestiona los pagos. El pago se realizará directamente en un servidor seguro, con un cifrado SSL
                                        para garantizar la seguridad absoluta de las transacciones. No podemos acceder a los datos de la
                                        tarjeta de crédito o débito ni tampoco pueden hacerlo terceras partes, ya sea en el momento de
                                        realizar el pedido o posteriormente. Para garantizar la seguridad y funcionalidad de los pagos
                                        realizados con tarjeta, ponemos a su disposición la solución de pago TPV virtual Adyen N.V. Por
                                        este motivo, en los extractos de su tarjeta de crédito o débito encontrarás el pago realizado
                                        con la referencia "Adyen NV o Adyen NV Scarlatto".
                                        La información que nos proporciona en virtud de esta sección se utilizará exclusivamente para
                                        completar el proceso de venta y los procedimientos de reembolso en caso de cancelación de su
                                        pedido en su totalidad o en parte, según se requiera en virtud de estas Condiciones de Venta.
                                    </p>
                                </div>
                                <div>
                                    <br>
                                    <h5> 3. Entrega</h5>
                                    <br>
                                    <p>
                                        Para el envío estándar, calcule entre tres y cinco (3 y 5) días (excluidos sábados, domingos y
                                        festivos), excepto el tiempo de entrega para la isla de Formentera (Islas Baleares) que necesita
                                        entre diez y doce (10 y 12) días (excluidos sábados, domingos y festivos). Si realiza su pedido
                                        antes de las 16:00 h de lunes a viernes, su pedido se enviará el día laboral siguiente.
                                        Para el envió urgente, calcule hasta dos (2) días hábiles para los artículos en existencias Si
                                        realiza su pedido antes de las 15:00 h de lunes a viernes, su pedido se enviará el día laboral
                                        siguiente.
                                        La entrega se realizará en cualquier caso dentro de los treinta (30) días siguientes al envío de
                                        la Confirmación de envío por parte de SCARLATTO. SCARLATTO se reserva el derecho de sustituir el
                                        transportista por otro de igual o menor coste para entregar su pedido. Las opciones de entrega
                                        descritas antes son las únicas opciones de envío disponibles para las ventas a través del sitio
                                        web de Scarlatto. Scarlatto no aceptará ninguna solicitud de entrega especial fuera del alcance
                                        de estas dos opciones.
                                        Si SCARLATTO no puede entregar su pedido en el plazo especificado en la Confirmación de envío,
                                        se lo notificará lo antes posible identificando las causas del retraso. En ese caso, usted podrá
                                        cancelar su pedido y SCARLATTO se lo reembolsará íntegramente. Si decide no cancelar el pedido,
                                        SCARLATTO se esforzará por entregárselo en un plazo razonable dentro de los plazos señalados y
                                        una vez solventada la causa del retraso.
                                        Si usted retrasa injustificadamente la entrega o la recepción de la entrega después de que
                                        SCARLATTO le haya notificado que el transportista ha intentado entregarle los artículos pedidos,
                                        o si ha proporcionado a Scarlatto una dirección de entrega incorrecta que resulta en una entrega
                                        fallida, el paquete será devuelto a Scarlatto, se cancelará su pedido y se le efectuará un
                                        reembolso íntegro.
                                    </p>
                                </div>
                                <div>
                                    <br>
                                    <h5> 4. Devoluciones y reembolsos</h5>
                                    <br>
                                    <p>
                                        4.1 De conformidad con la normativa aplicable (información, desistimiento y cargos adicionales),
                                        usted tiene el derecho de desistimiento de su compra dentro del plazo de treinta (30) días, a
                                        partir del día siguiente en que recibe su pedido, en el que puede devolver el producto y
                                        solicitar un reembolso. Este derecho de desistimiento se aplica a todos los productos, en
                                        promoción o no, pero no se aplica a los productos excluidos que se indican más adelante. Si se
                                        le ha enviado el producto antes de que solicitara la cancelación de la compra, puede devolver el
                                        producto a SCARLATTO en un plazo de treinta (30) días a partir del día siguiente en que recibe
                                        su pedido.
                                        El coste de la devolución de un pedido es de 5€ para el envío estándar y de 10,50€ para el envío
                                        urgente. Estos gastos de devolución los deberán satisfacer solo los clientes, cuyo pedido
                                        original haya sido de un valor inferior a 75 euros. En todos los otros casos, puede aprovechar
                                        el proceso de devolución gratuita del sitio web de SCARLATTO que consiste en usar la pegatina,
                                        incluida en el paquete del pedido recibido, pegarla en el paquete y llevar el paquete a un punto
                                        de recogida de UPS (encuentre su oficina UPS más cercana aquí). No está obligado a utilizar el
                                        proceso de devolución gratuita, pero, si decide no hacerlo, deberá asumir la totalidad del coste
                                        del envío de cualquier producto a Scarlatto.
                                        Si no desea utilizar el proceso de devolución gratuita, puede cancelar la compra notificándolo
                                        al equipo de atención al cliente, ya sea mediante el formulario de contacto de nuestro sitio
                                        web, por teléfono al número gratuito: 79292466 o por correo postal a Departamento de San
                                        Salvador, Colonia escalón, torre futura local 105 .
                                        Cuando SCARLATTO haya recibido y validado el producto devuelto, le enviará un correo electrónico
                                        para confirmar la validación.
                                        Si el Cliente desiste del contrato, se le reembolsará el precio íntegro que pagó por el producto
                                        (incluido el IVA y/u otros impuestos) y los gastos de envío (aunque, según permite la
                                        legislación, los gastos de envío máximos que se reembolsarán corresponderán al coste del
                                        servicio de envío estándar). Cualquier reembolso que se le adeude se realizará lo antes posible
                                        y, en cualquier caso, en un plazo máximo de 14 días desde el día en que Scarlatto reciba el
                                        producto devuelto o, si fuera antes, el día en que usted proporcione a Scarlatto pruebas de que
                                        ha devuelto el producto. El precio de los gastos de devolución aparecerá detallado en el resumen
                                        del reembolso que recibirá el Cliente por correo electrónico y se deducirá del importe total a
                                        reembolsar al Cliente. Si no se le ha enviado el producto, el reembolso se realizará en un plazo
                                        máximo de 14 días desde la fecha en que informe a Scarlatto de su decisión de cancelar la
                                        compra. Scarlatto le reembolsará el dinero por el mismo método que usó para efectuar el pago. Le
                                        informamos que dicho reembolso se llevará a cabo siempre y cuando se cumplan las siguientes
                                        condiciones:
                                        ·
                                        Los productos no hayan sido manipulados de una forma inapropiada que cause una reducción de su
                                        valor; en este caso, para reflejar dicha reducción, la descontaremos del importe del reembolso
                                        (excluyendo los gastos de envío);
                                        La caja original de los productos se devuelva también sin que haya sido manipulado de forma
                                        inapropiada.
                                        Todos los accesorios, manuales de usuario, etc. sean devueltos y no hayan sido tratados de forma
                                        inapropiada; y
                                        Los productos no se hayan utilizado.
                                        Excepto en el caso de que te hayamos suministrado un producto defectuoso o mal descrito, no
                                        aceptaremos en virtud de este la devolución o el reembolso de un producto que esté dañado y/o
                                        muestre signos de desgaste por una manipulación innecesaria y/o inaceptable. Solo se exceptúa la
                                        manipulación justificada del producto que sea necesaria para establecer la naturaleza, las
                                        características y el funcionamiento del mismo.
                                        Si el Cliente ejerce el derecho de desistimiento en el caso de pedidos que estuviesen formados
                                        por dos o más productos, respecto de uno de los productos que forma parte del pedido, Scarlatto
                                        únicamente se hará cargo de los gastos de devolución referentes a la primera devolución sin
                                        perjuicio de que, posteriormente, en el supuesto a. el Cliente devuelva el obsequio que estaba
                                        vinculado al producto devuelto o, en el supuesto b. proceda posteriormente a la devolución de
                                        otro de los productos que configuraban el pedido. SCARLATTO no procederá a reembolsar el importe
                                        hasta que se reciba la mercancía o hasta que se reciba una prueba por parte del Cliente de que
                                        se ha reenviado la mercancía, según qué condición se cumpla primero.
                
                                        Productos excluidos
                                        El sitio web de Scarlatto no acepta devoluciones ni cambios de: (i) productos adquiridos en
                                        tiendas de Scarlatto, tiendas de distribuidores autorizados de Scarlatto (concesiones), tiendas
                                        outlet de Scarlatto, tiendas que no vendan exclusivamente productos de Scarlatto espacios dentro
                                        de joyerías independientes, o tiendas de Scarlatto en el extranjero; (ii) cualquier producto
                                        hecho a medida o personalizado.
                                        Devolución de productos defectuosos o que difieren de la descripción
                                        Consulte la sección 14 (Garantía del consumidor) siguiente para obtener más información sobre
                                        sus derechos en relación con los productos defectuosos o que no se corresponden con la
                                        descripción.
                
                                        Si necesita devolver algún producto porque considera que está defectuoso o no es como se
                                        describe, pero el plazo para devolver el producto según la normativa de la Unión Europea sobre
                                        derechos de los consumidores (si procede) ha expirado, debe ponerse en contacto con el equipo
                                        de atención al cliente para obtener ayuda antes de devolver el producto, ya sea a través de
                                        nuestro formulario de contacto, por teléfono al número gratuito 79292466 o puede ir al
                                        departamento de San Salvador, colonia escalón, centro comercial la Torre Futura, local 105.
                                        Una vez devuelto el producto de acuerdo con nuestras instrucciones y aprobado el reembolso por
                                        parte de Scarlatto, esta le reembolsará el precio íntegro del producto (también de los productos
                                        rebajados) defectuoso o que difiera de la descripción, junto con todos los gastos de entrega
                                        aplicables, así como cualquier coste razonable en el que usted incurra al devolver el producto.
                                    </p>
                                </div>
                                <div>
                                    <br>
                                    <h5> 5. Garantía del consumidor </h5>
                                    <br>
                                    <p>
                                        5.1 ESTA GARANTÍA LE OTORGA DERECHOS ESPECÍFICOS. SE OFRECE COMO UN BENEFICIO ADICIONAL A LOS
                                        DERECHOS QUE LE AMPARAN DE CONFORMIDAD CON LA LEGISLACIÓN. TAMBIÉN LE CORRESPONDEN OTROS
                                        DERECHOS EN VIRTUD DE LA LEGISLACIÓN, QUE PUEDEN DIFERIR DE UN PAÍS A OTRO.
                                        Puede informarse sobre sus derechos y recursos legales poniéndose en contacto con su Oficina
                                        Municipal de Información al Consumidor (OMIC). En particular, SCARLATTO tiene la obligación
                                        legal de suministrar productos que se ajusten al contrato formalizado con usted. Nada de lo
                                        establecido en esta garantía reemplazará o menoscabará ninguno de sus derechos o recursos
                                        legales.
                                        Desde el 1 de Enero del 2022, los productos vendidos en la página web y/o aplicaciones móviles
                                        de SCARLATTO incluyen una garantía para los productos defectuosos o que difieren de su
                                        descripción por un periodo de tres (3) años desde la fecha original de compra.
                                        Esto significa que puede solicitar una sustitución gratuita durante este periodo si los
                                        productos resultan defectuosos. SCARLATTO remplazará el producto por un producto de
                                        características idénticas o similares, excepto en los casos que se indican a continuación.
                                        SCARLATTO puede, a su discreción, sustituir el producto en virtud de esta garantía,
                                        independientemente de que sea posible o no una reparación del producto original.
                                        Si su producto es defectuoso, pero no quiere que SCARLATTO lo sustituya, tiene derecho a
                                        rechazarlo y recibir un reembolso. Consulte la sección «Devolución de productos defectuosos o
                                        que difieren de la descripción» (más arriba) para obtener más información sobre cómo devolver a
                                        SCARLATTO productos defectuosos o que difieren de la descripción.
                                        Si el producto no puede reemplazase en un tiempo razonable o sin inconvenientes, puede solicitar
                                        un reembolso o un descuento. Los reembolsos, si se autorizan, se realizarán, con el mismo método
                                        de pago utilizado por usted para pagar la compra.
                                        En caso de regalos, conserve la Confirmación de recepción del pedido o entréguesela al
                                        destinatario del regalo, ya que el justificante de compra original es imprescindible para poder
                                        acogerse a la garantía. Si no se dispone de la Confirmación de recepción del pedido, bastará con
                                        una tarjeta de crédito o un extracto bancario que muestre la transacción pertinente. Esto no
                                        afecta a los derechos que le asisten como consumidor/a.
                                        Esta garantía no cubre el desgaste normal ni los daños causados por accidentes, mal uso o uso
                                        inadecuado (p. ej., golpes, abolladuras, aplastamiento, etc.).
                                        Las reparaciones (o intentos de reparación) de productos que no sean efectuados por SCARLATTO
                                        anularán esta garantía, independientemente de si el daño ha sido causado por dicha reparación o
                                        intento de reparación.
                                        Si SCARLATTO reemplaza su producto de acuerdo con esta garantía, el nuevo artículo se
                                        beneficiará con una nueva garantía de igual plazo (calculado a partir de la fecha de entrega del
                                        producto de sustitución).
                                        El uso de charms falsificados, de colecciones incompatibles de SCARLATTO o de otras marcas en su
                                        pulsera SCARLATTO podría dañar el exclusivo sistema de rosca y, si se produce tal daño, no
                                        estará cubierto por esta garantía.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>                
                </main>
            </div>
        </div>
        <!--Row 3-->
        <div class="row menu3">
            <!---Empieza el contenido footer-->
            <div class="col-12 pt-5 pb-4">
                <footer></footer>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../controllers/publico/plantilla2.js"></script>
</body>
</body>

</html>