*{
    padding: 0;
    margin: 0;
}

nav{
    background: #40414a;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
}

nav .wrapper{
    position: relative;
    max-width: 1250px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 27px;
    font-weight: 500;
    
}

.wrapper .nav-links{
display: inline-flex;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover{
    background: #3A3B3C;
}

.nav-links .drop-menu{
    background: #40414a;
    width: 180px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3 ease;
}

.drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 0px;
    font-weight: 400;
    border-radius: 0px;
}


.mega-box{
    position: absolute;
    top: 85px;
    width: 100%;
    left:0;
    padding: 0 30px;
    opacity: 0;
    visibility: hidden;
    
}

.mega-box .content{
    background: #40414a;
    padding: 25px 20px ;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content .row{
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img{
width: 100%;
height: 100%;
object-fit: cover;
}

.content .row header{
    color:#f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links{
    margin-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}


.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a{
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover{
   color: #f2f2f2;
}

.nav-links ,.mobile-item{
    display: none;
}

.wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.cancel-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

/*del index*/
.contenedor {
    width: 95%;
    padding-top: 6rem;
    margin: auto;
  }
  .texttop {
    margin-left: 2rem;
    font-weight: 600;
    font-size: 10pt;
    color: #acacac;
  }
  .productos{
      padding-top: 2rem;
      padding-bottom: 8rem;
  }
  .productos .col{
      justify-content: center;
      background-color: #f5f5f5;
      width: 435px;
      border-radius: 15px;
      margin-left: 20PX;
  }
  .productos .col .datapd .infop{ 
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .infop .price{
      font-weight: 700;
  }
  @media screen  and (max-width:992px){
      .carousel img{
          height: 300px;
      }
      .productos .row{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
      .productos .row .col{
          margin-top: 20px;
      }
  }
  @media screen and (min-width:1420px){
      .carousel img{
          height: 700px;
      }
  }
  

/*Responsive del menu*/

/*******************************LOGIN CAMBIOS CSS************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/**/
*{
    font-family: 'Poppins', sans-serif;
}
/**/
.iniciando{
    background-color: #ececec;
    padding: 0 20px 0 20px;
}

/**/
.iniciando .main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     
}

/**/
.iniciando .main .inicio{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2); 
     
}

/**/
 .side-image{
    background-image: url("../../resources/img/fotosextra/brillianty-dragocennosti.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

/**/
.side-image .logo{
    width: 35px;
    position: absolute;
    top: 35px;
}

/**/
.side-image .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**/
.side-image .text p{
    color: #fff;
    font-size: 18px;
}

/**/
i{
    font-weight: 400;
    font-size: 15px;
}

/**/
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/**/
.right .input-box{
    width: 330px;
    box-sizing: border-box;
}

/**/
.right .input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

/**/
.input-box .input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

/**/
.input-field .input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

/**/
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

/**/
.input-field .input:focus ~ label {
    top: -10px;
    font-size: 13px;

}

/**/
.input-field .input:valid ~ label {
    top: -10px;
    font-size: 13px;
    color: #5d5076;

}

/**/
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
}

/**/
.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}

/**/
.submit:hover{
    background-color: rgb(37, 95, 156,0.9);
    color: #fff;
}

/**/
.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;

}

/**/
span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;

}

/**/
span a:hover{
    text-decoration: underline;
    color: #000;
}

/**/
@media only screen and (max-width: 768px){
    /**/
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    /**/
    .side-image .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    /**/
    .side-image .text p,i{
        font-size: 17px;
    }
    /**/
    .main.inicio{
        max-width: 420px;
        width: 100%;
    }
}

/*Css detalle producto*/
.product {
    position: relative;
    display: inline-block;
}

.product-small-img img {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 8px;
    margin: 10px 10px 15px;
    cursor: pointer;
}

.product-small-img {
    width: 20%;
    display: flex;
}

.img-container img {
    height: 550px;
}

.img-container {
    padding: 10px;
    width: 60%;
}

.size ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.size ul li {
    list-style: none;
    display: inline-block;
    justify-content: left;
    align-items: left;
    font-size: 0.8em;
    border: solid 1px #98a7ad;
    padding: 0.6em;
    border-radius: 10%;
}

.size ul li:hover {
    background-color: #98a7ad;
    color: #fff;
}

.proty {
    display: flex;
    height: 115vh;
    width: 100%;
    top: auto;
}

.detalle {
    max-width: 100%;
    max-height: 90%;
    position: relative;
    display: inline-block;
}

.detalle input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.detalle input:focus {
    outline: none;
}

.buy {
    background-color: black;
    opacity: 1;
    transition: 0.3s all;
    color: white;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.detalle img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.color {
    display: flex;
    justify-content: flex-start;
}

.categoria {
    color: #2E96AD;
}

.disponible {
    display: flex;
    justify-content: flex-start;
}

.disponible img {
    width: 15px;
    height: 15px;
}


/*Css de seccion noticias*/

.contenedor {
  width: 95%;
  padding-top: 6rem;
  margin: auto;
}
.carousel {
  width: 100%;
  margin: auto;
}
.carousel img {
  height: 600px;
  border-radius: 20px;
}
.texttop {
  margin-left: 2rem;
  font-weight: 600;
  font-size: 10pt;
  color: #acacac;
}
.productos{
    padding-top: 2rem;
    padding-bottom: 8rem;
}
.productos .title{
    font-size: 20pt;
    font-weight: 600
}
.productos .col{
    justify-content: center;
    background-color: #f5f5f5;
    width: 400px;
    border-radius: 15px;
    margin-left: 20PX;
}
.productos .col .datapd{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.productos .col .datapd .infop{ 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infop .name{
    font-size: 12pt;
    font-weight: 500;
}
.infop .marca{
    font-size: 10pt;
}
.infop .price{
    font-weight: 700;
}
.productos .col #stars{
    position: absolute;
    margin-left: 350px;
}
#titlep{
    margin-top: 2rem;
}  
@media screen  and (max-width:992px){
    .carousel img{
        height: 300px;
    }
    .productos .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .productos .row .col{
        margin-top: 20px;
    }
}
@media screen and (min-width:1420px){
    .carousel img{
        height: 700px;
    }
}